@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterUsuariosRoles.cshtml";
}

<h2>Roles</h2>

<div class="well">
    @using (Html.BeginForm("Index", null, FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-4">
                
            </div>
            <div class="pull-right col-lg-2">
                <a class="btn btn-success" data-modal="" href="~/Roles/Create" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<span>Nuevo Registro</span>
                </a>
            </div>
        </div>

        <div style="margin-top:17px;">
            @{
            var grid = new WebGrid(
                                    canPage: true,
                                    rowsPerPage: 50,
                                    canSort: false,
                                    ajaxUpdateContainerId: "grid");

        //grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Bind(Model);
        grid.Pager(WebGridPagerModes.All);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                        fillEmptyRows: false,
                        tableStyle: "table table-bordered table-hover",
                        //headerStyle: "head1",
                        //alternatingRowStyle: "alt1",
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(
                        grid.Column("Name", "Rol"),
                        grid.Column(header: "Acciones", canSort: false, style: "action",
                            format: @<text>
                            @Html.ActionLink(" ", "Details", "Roles", new { id = item.Id }, new { data_modal = "", @class = "glyphicon glyphicon-search" })
                            @Html.ActionLink(" ", "Edit", "Roles", new { id = item.Id }, new { data_modal = "", @class = "glyphicon glyphicon-edit" })
                            @Html.ActionLink(" ", "Delete", "Roles", new { id = item.Id }, new { data_modal = "", @class = "glyphicon glyphicon-trash" })

                            </text>)

                    ));
            }

        </div>
    }
</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

