@model Pharmaweb.Models.VentasModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div> 
        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "Button";
            settings.UseSubmitBehavior = true;
        }).GetHtml()

        @Html.Action("GridViewPartial")




    </div>
</body>
</html>
