<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="BD_CerberusSVFEntities" connectionString="metadata=res://*/Data.FacturacionBD.csdl|res://*/Data.FacturacionBD.ssdl|res://*/Data.FacturacionBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BD_CerberusSVF;user id=sa;password=admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BD_CerberusSVFEntities" connectionString="metadata=res://*/Data.FacturacionBD.csdl|res://*/Data.FacturacionBD.ssdl|res://*/Data.FacturacionBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS7-PC\MSSQLSERVER2014;initial catalog=BD_CerberusSVF;user id=sa;password=Admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>