@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PHARMAWEB</h1>
    <p class="lead">Somos una empresa competitiva enfocada en la salud humana. Contamos con un stock completo de medicamentos para abastecer a nuestros clientes. Nos diferenciamos por nuestros precios competitivos y por la calidad del servicio.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>
            Los productos farmacéuticos –en particular los medicamentos– son un elemento fundamental tanto de la medicina moderna como de la medicina tradicional. Estos productos deben ser absolutamente seguros, eficaces y de buena calidad y ser recetados y utilizados de manera racional.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lineas</h2>
        <p>Contamos con las lineas de los Laboratorios mas importantes y reconocidos en el mundo.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sucursales</h2>
        <p>Sucursales de Bolivia</p>
        <p>La Paz, Santa Cruz, Cochabamba</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>